@font-face {
  font-family: "digital";
  src: url("./asset/font/DS-DIGIB.TTF"); 
}

@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuseongHyejeong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/SuseongHyejeong.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{ 
  box-sizing: border-box; 
} /*padding시 박스 사이즈 커지는 것 방지*/

html, body {
  margin: 0; /*기본 html 마진 삭제*/
  height: 100%;
  background-color: rgb(250, 250, 239);
  font-family: 'SuseongHyejeong';
}

header{
  color: #829194;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #c6d2d4;
  height: 70px;
}

header #nav, #tools{
  margin:0 20px;
  font-size: 22px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 250px;
  padding: 0px 30px 0px 30px;
  font-size: 20px;
  opacity:0.95;  /* 투명도 95% */
  background-color: #fde485;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.container {
  padding: 0 30px;
  /* min-width: 320px;
  height : 100%; */
  min-height: 100%;
  position: relative;
  padding-bottom: 40px;
}

#stopwatch_main{
  margin: 40px 0px;
  font-size: 100px;
}

#stopwatch_main > span {
  display: inline-block;  /*inline은 width, height 지정 불가능*/
  width: 160px;
}

#tenMillisec{
  font-size: 50px;
  display: block;
}

button {
  margin: 0px 15px;
  height: 50px;
  width: 110px; border: none;
  font-family: 'SuseongHyejeong';
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
}

button:active{
  color:whitesmoke;
}

#lap_record{
  visibility:hidden;
  margin: 30px 0px;
  padding: 10px;
  height: 350px;
  width: 70%;
  overflow: scroll;
  overflow-x: hidden
}

table {
  border-top: 1px solid #444444;
  border-collapse: collapse;  /*중간에 표 끊기는 것 방지*/
}

th, td {
  border-bottom: 1px solid rgb(221, 221, 199);
  padding: 7px 30px;
}

.ads{
  height: 150px;
}

footer{
  position: relative;
  transform: translatY(-100%);
  color:rgb(82, 78, 78);
  margin: 0 auto;
  text-align: center;
  height: 40px;
  background-color: #c6d2d4;
  /* border-top: 2px solid #c6d2d4; */
}

#footer_content{
  position: relative;
  top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .container{
    padding: 0 16px;
  }

  header{
    height: 55px;
  }

  .modal_body {
    width: 300px;
    height: 250px;
  }

  #stopwatch_main{
    font-size: 60px;
  }
  #stopwatch_main > span{
    width: 100px;
  }

  #tenMillisec{
    font-size: 30px;
  }

  th, td {
    border-bottom: 1px solid rgb(221, 221, 199);
    padding: 7px 10px;
  }

}
