@font-face {
  font-family: "digital";
  src: url("./asset/font/DS-DIGIB.TTF"); 
}

@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuseongHyejeong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/SuseongHyejeong.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ 
  box-sizing: border-box;  /*padding시 박스 사이즈 커지는 것 방지*/
}

html, body {
  margin: 0; /*기본 html 마진 삭제*/
  min-height: 100%;
  background-color: rgb(250, 250, 239);
  font-family: 'SuseongHyejeong';
}

header{
  color: #829194;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #c6d2d4;
  height: 70px;
}

header i {
  color: #829194;
  margin:0 20px;
  font-size: 22px;
  cursor: pointer;
}

ul, li {
  color:#444444;
  margin: 0;
  padding: 0;
  list-style: none;
}

#sub-menu {
  position: absolute;
  background: #fde485;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in; /* 나타나는 속도 */
  z-index: 1; /* hover 시 다른 배경을 덮도록 함. 이 설정이 있어야 드롭메뉴가 빨리 꺼지지 않음  */
}

#sub-menu > li {
  padding: 15px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: black;
  text-decoration: none;
}

/* 부모UL요소에 마우스오버할 때 자손 UL요소가 나타난다. */
#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 /* text-decoration: underline; */
 cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 30%;
  left: 50%;
  width: 400px;
  height: 250px;
  padding: 0px 30px 0px 30px;
  font-size: 20px;
  opacity:0.9;  /* 투명도 90% */
  background-color: #fde485;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

input[type="checkbox"] {
  zoom: 1.5; 
  margin-left: auto;
}

.container {
  padding: 0 20px;
  /* min-width: 320px;
  height : 100%; */
  min-height: 100%;
  position: relative;
  padding-bottom: 20px;
}

.full_screen{
  display: flex;
  height: 10px;
  margin: 20px 3px;
  justify-content: right;
}

.full_screen i {
  color: #829194;
  font-size: 22px;
  cursor: pointer;
}

#stopwatch_main{
  margin-bottom: 40px;
  font-size: 100px;
}

#stopwatch_main > span {
  display: inline-block;  /*inline은 width, height 지정 불가능*/
  width: 160px;
}

#tenMillisec{
  font-size: 50px;
  display: block;
}

#current_time{
  font-size: 30px;
  color: rgb(111, 117, 117);
}

.button_container{
  display: flex; 
  flex-direction: row;
  justify-content: center;  /*div태그 내 요소 중앙정렬*/
}

button {
  margin: 0px 15px;
  height: 50px;
  width: 110px; border: none;
  font-family: 'SuseongHyejeong';
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
}

button:active{
  color:whitesmoke;
}

#lap_record{
  visibility:hidden;
  margin: 30px 0px;
  padding: 10px;
  height: 350px;
  width: 70%;
  overflow: scroll;
  overflow-x: hidden
}

table {
  border-top: 1.8px solid #444444;
  border-collapse: collapse;  /*중간에 표 끊기는 것 방지*/
}

th, td {
  border-bottom: 1px solid rgb(221, 221, 199);
  padding: 7px 30px;
}

#tools{
  height: 200px;
  /* padding: 20px;
  background-color: #e0ecee;
  border-radius: 13px;
  margin-bottom: 15px; */
}

footer{
  position: relative;
  transform: translatY(-100%);
  color:rgb(82, 78, 78);
  margin: 0 auto;
  text-align: center;
  height: 40px;
  background-color: #c6d2d4;
  /* border-top: 2px solid #c6d2d4; */
}

#footer_content{
  position: relative;
  top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .container{
    padding: 0 16px;
  }

  header{
    height: 55px;
  }

  .full_screen{
    margin: 10px 7px;
  }

  .modal_body {
    width: 300px;
    height: 250px;
  }

  #stopwatch_main{
    font-size: 60px;
  }
  #stopwatch_main > span{
    width: 100px;
  }

  #tenMillisec{
    font-size: 30px;
  }

  #current_time{
    font-size: 20px;
  }

  th, td {
    border-bottom: 1px solid rgb(221, 221, 199);
    padding: 7px 10px;
  }

}
