@font-face {
  font-family: "digital";
  src: url("./asset/font/DS-DIGIB.TTF"); 
}

*{ 
  box-sizing: border-box; 
} /*padding시 박스 사이즈 커지는 것 방지*/

html, body {
  margin: 0;
} /*기본 html 마진 삭제*/

header{
  background-color: #a2dae2;
  height: 5rem
}

.container{
  height: 40em;
  min-width: 320px;
  border-radius: 16px;
  margin: 0em;
}

h1{
  font-family: "digital";
  font-size: 120px;
}

h1 > span{
  display: inline-block;  /*inline은 width, height 지정 불가능*/
  width: 8rem;
}

button {
  margin: 0px 15px;
  height: 50px;
  width: 110px; border: none;
  font-size: 16px;
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
}

button:active{
  color:bisque;
}

li {
  list-style: none;
}

#lapse_record{
  margin: 10px 0px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden
}

div {
  border: 1px solid black;
}
